@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color:red;
    --black-color: rgb(34, 32, 32);
    --white-color: white;
    --hover-color: burlywood;
}

body {
    font-family: roboto;
    display: grid;
    place-items: center;
    height: 100vh;
}

form {
    padding: 25px;
    background: grey;
    box-shadow: 0 0 10px;
}

.form-controls {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-controls > *:first-child {
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid;
}

h1 {
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    font-size: 100%;
}

div.one {
    align-items: center;
}


