* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.big-box {
    margin: 10px;
    box-shadow: 0 0 10px;
    padding: 20px;
}

button {
    display: block;
    border: none;
    background: blue;
    color: white;
    font-size: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px 20px;
}

h1 {
    margin-bottom: 10px;
}

input {
    width: 100%;
    border: none;
    border-bottom: 2px solid grey;
    padding-bottom: 5px;
    padding-left: 5px;
    outline: none;
    font-size: 1.15rem;
}